language: node_js
node_js:
  - "11.9.0"
services: 
- postgres

script:
  - yarn sequelize db:migrate
  - yarn run build
  - yarn run coverage

before_install:
  - npm i -g babel-preset-env sequelize pg-hstore mocha chai babel-cli istanbul coveralls pg yarn

before_script:
  - psql -c 'create database  piechat;' -U postgres

after_script:
  - ./node_modules/coveralls/bin/coveralls.js < ./coverage/lcov.info  && npm run clean
