language: node_js
node_js:
  - "11.9.0"
services: 
- mongodb

script:
  - yarn run coverage

before_install:
  - npm i -g babel-preset-env  mocha chai babel-cli istanbul coveralls  yarn mongoose

before_script:
  

after_script:
  - ./node_modules/coveralls/bin/coveralls.js < ./coverage/lcov.info  && npm run clean
